<div style="margin-top: 2em;">
  <script src="https://giscus.app/client.js"
    data-repo="bradfeld/adventuresinclaude"
    data-repo-id="R_kgDORQlALw"
    data-category="General"
    data-category-id="DIC_kwDORQlAL84C2dyo"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
</div>
